[Unit]
Description=Transparent TLS proxy
Documentation=https://github.com/dlundquist/sniproxy
After=syslog.target
After=network-online.target

[Service]
Type=forking
OPTIONS="-c /etc/sniproxy/sniproxy.conf"
PIDFile=/var/run/sniproxy/sniproxy.pid
ExecStart=/usr/sbin/sniproxy ${OPTIONS}
Restart=always

[Install]
WantedBy=multi-user.target
